html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
/* Стили для разделителей колонок */
.table th,
.table td {
  border-right: 1px solid #dee2e6; /* Правая граница для всех ячеек */
}

/* Убедитесь, что последняя ячейка в строке не имеет правой границы */
.table th:last-child,
.table td:last-child {
  border-right: none; /* Убираем правую границу для последней ячейки */
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}